{% extends "base.html.twig" %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta iste maxime amet consequatur fugit eveniet
        molestiae natus dolores officiis dolorem est itaque, error voluptas? Ullam quaerat ducimus ratione similique
        quam!</p>
</div>
{% endblock body %}