{% extends "base.html.twig" %}

{% block title %}
    Création de bien
{% endblock title %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un bien</h1>

    {{ include ("admin/property/__form.html.twig" ,{form: form, button: 'Créer'}) }}

    
</div>
{% endblock body %}