.custom-control-label {
    margin-bottom: 1rem;
}

.bandeauRegion {
    width: 100%;
}

.card {
    height: 95%;
    margin-top: 1rem;
}

.card-img-overlay {
    color: white;
}

.card-text.description {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 1rem;
}

.card.card-img-top {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.5);
}

.card.card-img-top:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.5);
}

.card-text.card-text-end {
    text-align: end;
}

@media (max-width: 1130px) {
    .bandeauRegion {
        display: none;
    }

    .principal-sec {
        margin-top: 70px;
    }
}


.btn-fixed {
    position: absolute;
    margin-left: 2rem;
    z-index: 1;
}

.titre-region {
    margin-top: 70px;
    text-align: center;
}